@model IEnumerable<SalesRepLeadViewModel>

<h3 class="header">Leads</h3>
<table>
    <thead>
        <tr>
            <th>Contact First Name</th>
            <th>Contact Last Name</th>
            <th>Contact Phone</th>
            <th>Contact Email</th>
            <th>Ref. Source</th>
            <th>Status</th>
            <th>Last Contact</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var lead in Model)
        {
        <tr>
            <td>@lead.FirstName</td>
            <td>@lead.LastName</td>
            <td>@lead.Phone</td>
            <td>@lead.Email </td>
            <td>@lead.ReferralSource </td>
            <td>@lead.Status </td>
            <td>@lead.LastContact </td>

        </tr>
        }
    </tbody>
</table>