@model IEnumerable<SalesRepOpportunityViewModel>

<h3 class="header">Opportunities</h3>
<table>
    <thead>
        <tr>
            <th>Contact First Name</th>
            <th>Contact Last Name</th>
            <th>Contact Phone</th>
            <th>Contact Email</th>
            <th>Status</th>
            <th>Last Contact</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var opportunity in Model)
        {
            <tr>
                <td>@opportunity.FirstName</td>
                <td>@opportunity.LastName</td>
                <td>@opportunity.Phone</td>
                <td>@opportunity.Email </td>
                <td>@opportunity.Status </td>
                <td>@opportunity.LastContact </td>

            </tr>
        }
    </tbody>
</table>